Repository ck3mp3r/nuop: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, cargo-fmt

alejandra:
  name: Format Nix files with local alejandra
  entry: alejandra
  language: system

cargo-fmt:
  name: Format Rust files with cargo fmt
  entry: bash
  language: system
  args:
  - -c
  - cd operator && cargo fmt
  pass_filenames: false

chore(ci): update checkout action to v5 in test workflow
  .github/workflows/test.yaml
Due: none

chore: update gitignore to exclude crush directory
  .gitignore
Due: none

chore: enhance CI tooling and modernize dependencies (#17)
  .github/workflows/test.yaml
  .gitignore
  Makefile
  flake.lock
  operator/Cargo.lock
  operator/src/nuop/manager/reconciler.rs
  operator/src/nuop/manager/resources/config_map.rs
  operator/src/nuop/manager/resources/deployment.rs
  operator/src/nuop/manager/resources/deployment_tests.rs
  operator/src/nuop/reconciler/config.rs
  operator/src/nuop/reconciler/controller.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/reconciler/util.rs
  operator/src/nuop/util.rs
Due: cargo-fmt

ci: add automated release workflow
  .github/workflows/release.yaml
Due: none

refactor(ci): remove pull request trigger and concurrency group
  .github/workflows/test.yaml
Due: none

ci: add automated release workflow (#18)
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

feat: add automated release workflow
  .github/workflows/release.yaml
Due: none

fix: use GITHUB_TOKEN for Docker registry authentication
  .github/workflows/release.yaml
Due: none

chore: bump version to 0.1.1
  operator/Cargo.toml
Due: none

removing banner
  .github/workflows/release.yaml
Due: none

Updated flake.nix Updated operator/flake.nix
  flake.lock
  operator/flake.lock
Due: none

chore: update flake.lock(s)
  flake.lock
  operator/flake.lock
Due: none

fix: ignore script execution tests in local development
  .github/workflows/test.yaml
  operator/Cargo.lock
  operator/Cargo.toml
  operator/src/nuop/reconciler/controller_tests.rs
Due: cargo-fmt

fix: ignore script execution tests in local development (#20)
  .github/workflows/test.yaml
  operator/Cargo.lock
  operator/Cargo.toml
  operator/src/nuop/reconciler/controller_tests.rs
Due: cargo-fmt

chore: bump version to 0.1.2
  operator/Cargo.toml
Due: none

refactor: apply SOLID principles with zero-cost generic abstractions
  operator/Cargo.lock
  operator/Cargo.toml
  operator/src/nuop/reconciler/controller.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/reconciler/state.rs
Due: cargo-fmt

fix: address clippy warnings
  operator/src/nuop/reconciler/controller.rs
  operator/src/nuop/reconciler/state.rs
Due: cargo-fmt

fix: update test error message after refactor
  operator/Cargo.lock
  operator/Cargo.toml
  operator/src/nuop/reconciler/controller_tests.rs
Due: cargo-fmt

Refactor: Apply SOLID principles with dependency injection (#21)
  operator/Cargo.lock
  operator/Cargo.toml
  operator/src/nuop/reconciler/controller.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/reconciler/state.rs
Due: cargo-fmt

chore: bump version to 0.1.3
  operator/Cargo.toml
Due: none

feat!: migrate to mod.nu directory-based script structure
  README.md
  operator/docker/init-sources
  operator/scripts/README.md
  operator/scripts/config-replicator/mod.nu
  operator/scripts/secret-cloner/mod.nu
  operator/src/nuop/config.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/reconciler/controller_tests/scripts/configmap/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/custom-requeue/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/error/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/no-finalizer/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/success-no-changes/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/success-with-changes/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/unexpected-exit-code/mod.nu
  operator/src/nuop/reconciler/managed_tests.rs
  operator/src/nuop/reconciler/managed_tests/scripts/deployment-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/duplicate-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/invalid-config-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/no-mapping-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/pod-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/service-script/mod.nu
  operator/src/nuop/reconciler/standard_tests.rs
  operator/src/nuop/reconciler/standard_tests/scripts/configmap-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/deployment-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/duplicate-pod-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/invalid-config-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/pod-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/secret-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/service-controller/mod.nu
  operator/src/nuop/reconciler/state.rs
  operator/src/nuop/reconciler/util.rs
Due: cargo-fmt

chore(operator): bump version to 0.2.0
  operator/Cargo.lock
  operator/Cargo.toml
Due: none

refactor(init-sources): modernize Nushell syntax and improve error handling
  operator/docker/init-sources
Due: none

style: format long lines in standard_tests.rs
  operator/src/nuop/reconciler/standard_tests.rs
Due: cargo-fmt

fix(scripts): use modern optional access for annotations
  operator/scripts/config-replicator/mod.nu
  operator/scripts/secret-cloner/mod.nu
Due: none

feat!: migrate to mod.nu directory-based script structure (#22)
  README.md
  operator/Cargo.lock
  operator/Cargo.toml
  operator/docker/init-sources
  operator/scripts/README.md
  operator/scripts/config-replicator/mod.nu
  operator/scripts/secret-cloner/mod.nu
  operator/src/nuop/config.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/reconciler/controller_tests/scripts/configmap/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/custom-requeue/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/error/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/no-finalizer/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/success-no-changes/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/success-with-changes/mod.nu
  operator/src/nuop/reconciler/controller_tests/scripts/unexpected-exit-code/mod.nu
  operator/src/nuop/reconciler/managed_tests.rs
  operator/src/nuop/reconciler/managed_tests/scripts/deployment-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/duplicate-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/invalid-config-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/no-mapping-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/pod-script/mod.nu
  operator/src/nuop/reconciler/managed_tests/scripts/service-script/mod.nu
  operator/src/nuop/reconciler/standard_tests.rs
  operator/src/nuop/reconciler/standard_tests/scripts/configmap-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/deployment-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/duplicate-pod-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/invalid-config-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/pod-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/secret-controller/mod.nu
  operator/src/nuop/reconciler/standard_tests/scripts/service-controller/mod.nu
  operator/src/nuop/reconciler/state.rs
  operator/src/nuop/reconciler/util.rs
Due: cargo-fmt

refactor: migrate from flake-utils to flake-parts framework
  flake.lock
  flake.nix
Due: alejandra

refactor: migrate from devshell to devenv for development environment
  .envrc
  .gitignore
  .vscode/settings.json
  devenv.nix
  devshell.toml
  flake.lock
  flake.nix
Due: alejandra

fix(ci): update test workflow for devenv migration
  .github/workflows/test.yaml
Due: none

feat(ci): add Determinate Systems magic nix cache
  .github/workflows/test.yaml
Due: none

feat(ci): add concurrency control to test workflow
  .github/workflows/test.yaml
Due: none

feat(ci): disable FlakeHub in nix-installer-action
  .github/workflows/test.yaml
Due: none

feat(ci): disable FlakeHub in magic-nix-cache-action
  .github/workflows/test.yaml
Due: none

Path conditions:
  alejandra: any of: \.nix$
  cargo-fmt: any of: \.rs$
