Repository ck3mp3r/nuop: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, cargo-fmt

alejandra:
  name: Format Nix files with local alejandra
  entry: alejandra
  language: system

cargo-fmt:
  name: Format Rust files with cargo fmt
  entry: bash
  language: system
  args:
  - -c
  - cd operator && cargo fmt
  pass_filenames: false

chore: update flake.lock(s)
  flake.lock
  operator/flake.lock
Due: none

migrate to prek and rustnix, drop nested flake
  .envrc
  .github/workflows/test.yaml
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  flake.lock
  flake.nix
  lefthook.yml
  nix/dev.nix
  operator/flake.lock
  operator/flake.nix
  operator/nix/build.nix
  operator/nix/default.nix
  operator/nix/utils.nix
  operator/scripts/README.md
  prek.toml
Due: alejandra

upgrade deps, add tilt dev setup, replace makefile with nix tools
  .github/workflows/test.yaml
  Makefile
  Tiltfile
  kind/namespace.yaml
  nix/ci.nix
  nix/dev.nix
  nix/tools.nix
  operator/Cargo.lock
  operator/Cargo.toml
  operator/docker/Dockerfile.dev
  operator/src/nuop/manager/controller_tests.rs
  operator/src/nuop/manager/reconciler.rs
  operator/src/nuop/reconciler/controller_tests.rs
  operator/src/nuop/util.rs
  prek.toml
  tilt/example-resources.yaml
  tilt/managed-operator.yaml
Due: alejandra, cargo-fmt

fix init-sources path handling, update docs, fix op-build
  Tiltfile
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/api/CRD.md
  docs/examples/config-replicator.yaml
  docs/examples/minimal.yaml
  docs/examples/secret-cloner.yaml
  nix/tools.nix
  operator/docker/init-sources
Due: alejandra

disable cargo test in nix build (doCheck=false)
  operator/nix/default.nix
Due: alejandra

chore: bump version to 0.2.1
  operator/Cargo.toml
Due: none

chore: update flake.lock(s)
  flake.lock
Due: none

feat: add automatic CRD installation for standard mode
  .laio.yaml
  docs/CRD-AUTO-INSTALLATION.md
  docs/examples/custom-crd-operator.yaml
  operator/chart/templates/rbac.tpl
  operator/docker/Dockerfile
  operator/docker/entrypoint
  operator/docker/install-crds
Due: none

fix source path to relative in CRD docs
  docs/api/CRD.md
Due: none

copy install-crds into dev dockerfile for tilt/op-build
  operator/docker/Dockerfile.dev
Due: none

refactor: improve kind cluster startup script in devenv.nix
  docs/CRD-AUTO-INSTALLATION.md
  docs/DEVELOPMENT.md
  docs/api/CRD.md
Due: none

Migrate build and workflow commands from Makefile to Justfile
  justfile
Due: none

remove justfile
  justfile
Due: none

restore tilt/nix tooling docs in DEVELOPMENT.md
  docs/DEVELOPMENT.md
Due: none

remove stale devenv references from docs
  docs/DEVELOPMENT.md
  tests/README.md
Due: none

Error reading response: read |0: file already closed Update Nix inputs and refactor Docker build variables
  flake.lock
  flake.nix
  justfile
Due: alejandra

fix branch for rustnix/tilt tooling: remove stale Dockerfile.local, sync flake.lock, fix docs
  docs/DEVELOPMENT.md
  flake.lock
  operator/docker/Dockerfile.local
  tests/README.md
Due: none

restore justfile with test recipes for CRD auto-install demo
  justfile
Due: none

feat: add test operator for automatic CRD installation
  docs/DEVELOPMENT.md
  docs/api/CRD.md
  docs/examples/custom-crd-operator.yaml
  flake.lock
  flake.nix
  operator/Cargo.lock
  operator/docker/Dockerfile.local
  operator/docker/entrypoint
  tests/Dockerfile
  tests/README.md
  tests/crds/greetingrequest-crd.yaml
  tests/examples/deployment.yaml
  tests/examples/greetingrequest.yaml
  tests/scripts/greeting-operator/mod.nu
Due: alejandra

chore(deps): update flake inputs
  flake.lock
Due: none

Path conditions:
  alejandra: any of: \.nix$
  cargo-fmt: any of: \.rs$
